{% extends 'base.html'%}

{% load static %}

{% block title %}register user{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Register</h1>
        <p>If you are already a user please <strong><a href="{% url 'account:user_login' %}">Login</a> </strong></p>
        <p>or register.</p>

        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <!-- {{ form.as_p }} -->
            <!-- Username:[] -->
            <div class="form-group">
                <lable for="{{ form.username.id_for_label }}" class="col-md-5 control-label">Username</lable>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <!-- Email:[] -->
            <div class="form-group">
                <lable for="{{ form.email.id_for_label }}" class="col-md-5 control-label">Email</lable>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <!-- Password:[] -->
            <div class="form-group">
                <lable for="{{ form.password.id_for_label }}" class="col-md-5 control-label">Password</lable>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <!-- Confirm Password:[] -->
            <div class="form-group">
                <lable for="{{ form.password2.id_for_label }}" class="col-md-5 control-label">Confirm Password</lable>
                <div class="col-md-6 text-left">{{ form.password2 }}</div>
            </div>
            <!-- Birth Date:[] -->
            <div class="form-group">
                <lable for="{{ profile.birth.id_for_label }}" class="col-md-5 control-label">Birth Date</lable>
                <div class="col-md-6 text-left">{{ profile.birth }}</div>
            </div>
            <!-- Phone:[] -->
            <div class="form-group">
                <lable for="{{ profile.phone.id_for_label }}" class="col-md-5 control-label">Phone</lable>
                <div class="col-md-6 text-left">{{ profile.phone }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="Register">
        </form>
    </div>
{% endblock %}